@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Frank's Kaffeehaus!</h1>
    <p>Use the navigation at the top of the page to see a list of users and register as a new user.</p>
</div>
