@model FranksKaffeehaus.Models.RegistrationViewModel

@{
    ViewData["Title"] = "DeleteSuccessful";
}

<h1>Registration Successful!</h1>
<p>The account has been successfully deleted.</p>
<div>
    <a asp-action="List">Back to List</a>
</div>