@model FranksKaffeehaus.Models.RegistrationViewModel

@{
    ViewData["Title"] = "RegistrationSuccessful";
}

<h1>Registration Successful!</h1>
<p>Welcome, @Model.FirstName, to Frank's Kafeehaus!</p>
<div>
    <a asp-action="List">Back to List</a>
</div>