@model FranksKaffeehaus.Models.RegistrationViewModel

@{
    ViewData["Title"] = "UpdateSuccessful";
}

<h1>Registration Successful!</h1>
<p>@Model.FirstName's account has been successfully updated. Thank you!</p>
<div>
    <a asp-action="List">Back to List</a>
</div>